@tailwind base;
@tailwind components;
@tailwind utilities;
 

 
.cut-text {
  display: block;  
  display: -webkit-box;
  max-width: 150px;
  height: 20px*1*1;  
  font-size: 16px;
  line-height: 1.2;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
 